
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
/* Our News starts */

.news-10 h3{
  font-family: Montserrat;
  font-style: normal;
  font-weight: 900;
  font-size: 36px;
  line-height: 44px;
  text-transform: capitalize;
  color: #3E435D;

}
.news-10 p{
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 142.7%;
  color: #000000;
  opacity: 0.6;
}
.date-10 h3{
font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 129.52%;
letter-spacing: 0.05em;
color: #000000;
}
.date-10 p{
font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 129.52%;
letter-spacing: 0.05em;
color: #000000;
opacity: 0.6;
}
.line-10{
  mix-blend-mode: normal;
}
.cardblock-10 p {
font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 21px;
color: #000000;
opacity: 0.6;
}
.cardblock-10 h3{
  font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 21px;

color: #000000;
}
.pagicenter{
margin: auto;
}
.footcenter h3{
  font-family: Montserrat;
font-style: normal;
font-weight: 900;
font-size: 36px;
line-height: 44px;
text-align: center;
color: #3E435D;


}


.btn-profilenew-10
{
  background: linear-gradient(90.17deg, #5D80E2 0.17%, #73B6E5 99.89%);
box-shadow: 0px 20px 40px rgba(130, 100, 198, 0.2);
border-radius: 5px;
}
.bg-color{
  background: #3E435D;
}

.butcenter{
margin: auto;
margin-top: 3%;
}
.tagline{
  margin-top: 15%;
}


.foot_color {
  background: #3e435d;
  padding-top: 7%;
  margin-top: 10%;
}

.about_us ul li a {
  font-style: normal;

  font-size: 15px;
  line-height: 26px;
  color: #ffffff !important;
}
.btn-demo {
  background: linear-gradient(180deg, #8264c6 0%, #5d80e2 100%);
  border-radius: 5px;
  margin-top: 25px;
}
.btn-demo a {
  color: white;
}
.btn-demo a:hover {
  text-decoration: none;
  color: white;
}
.imgalign img{
float: right;
}
.all_right {
  text-align: center;
  background-color: #000000;
}
.all_right p {
  font-size: 18px;
  line-height: 15px;
  color: #ffffff;
  padding: 10px 10px;
}


.btn_first{
  background: linear-gradient(90.17deg, #5D80E2 0.17%, #73B6E5 99.89%);
box-shadow: 0px 20px 40px rgba(130, 100, 198, 0.2);
border-radius: 5px;

}
.btn_second{
  opacity: 0.7 !important;
border-radius: 5px;
border: 1px solid black !important;
}

.btn_second a{
  font-family: Roboto;
  color: linear-gradient(180deg, #8264C6 0%, #5D80E2 100%);
  opacity: 0.7;
  padding: 5px 15px;
}
.btn_second a:hover{
  text-decoration: none;
  color: linear-gradient(180deg, #8264C6 0%, #5D80E2 100%);
}
.pagllinee{
  margin-top: 10%;
}
.btn_first a {
  color: white;
  padding: 5px 15px;
}
.btn_first a:hover {
  text-decoration: none;
  color: white;
}



/* Our News ends */




.left-side-menu {
  width: 240px;
  background: linear-gradient(180deg, #8264C6 0%, #5D80E2 100%);
  bottom: 0;
  padding: 0px 0;
  position: fixed;
  transition: all .2s ease-out;
  top: 70px;
  box-shadow: 0 0 35px 0 rgba(154,161,171,.15);
  border-top: 1px solid rgba(204, 204, 204, 0.48);
}
.content-page {
  margin-left: 215px;
  overflow: hidden;
  padding: 0 10px 5px 25px;
  min-height: 80vh;

  transition: all .2s ease-out;
}


.dashifymenu-10{
  display: flex;
  flex-direction: column;
 
  padding: 25px 0px 0px 35px;
  height: 83px;
  background: #FFFFFF;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);

}
.cardspace{
  height: 30px;
  background: #FFFFFF;
box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
border-radius: 100px;
}
.topdash{
  
background: linear-gradient(0deg, #F7F9FC, #F7F9FC);
box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
height: 70px;
}